@model IEnumerable<Trongtai>
<ul class="left_menu>
    @foreach (var item in Model)
    {
        var getUrl = "https://localhost:7169/api/trongtaiapi/" + item.TrongTaiId.Trim();
    <li class="odd">
            <a style="cursor:pointer" onclick="showMatchByTrongTai('@getUrl')" class="subnav__item-link">@item.HoVaTen</a>
    </li>
    }
</ul>
<script>
    function showMatchByTrongTai(getUrl) {
        var str = '';
        $.ajax({
            type: 'GET',
            url: getUrl,
            dataType: 'json',
            success: function (data) {
                $.each(data, function (key, val) {
                    str += '<div class="prod_box">';
                    str += '  <div class="top_prod_box"></div>';
                    str += '  <div class="center_prod_box">';
                    str += '    <div class="product_title"><a href="details.html">' + val.clbNha + ' VS ' + val.clbKhach + '</a></div>';
                    var linkImage = "../FootballImages/Images/" + $.trim(val.anh);
                    str += '    <div class="product_img"><a href="details.html">';
                    str += '      <img src="' + linkImage + '" alt="" border="0" width="150px">';
                    str += '    </a></div>';
                    str += '    <div class="prod_price"><span class="price">' + val.ketQua + '</span></div>';
                    str += '  </div>';
                    str += '  <div class="bottom_prod_box"></div>';
                    str += '  <div class="prod_details_tab">';
                    str += '    <a href="#" title="header=[Add to cart] body=[&nbsp;] fade=[on]">';
                    str += '      <img src="images/cart.gif" alt="" border="0" class="left_bt">';
                    str += '    </a>';
                    str += '    <a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]">';
                    str += '      <img src="images/favs.gif" alt="" border="0" class="left_bt">';
                    str += '    </a>';
                    str += '    <a href="#" title=""><img src="images/favorites.gif" alt="" border="0" class="left_bt"></a>';
                    str += '    <a href="details.html" class="prod_details">details</a>';
                    str += '  </div>';
                    str += '</div>';
                });
                $('#displayMatch').html(str); 
            },
            error: function (xhr) {
                alert(xhr.responseText); 
            }
        });
    }
</script>
    

